<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo list</title>
        <link rel="shortcut icon" href="../images/favicon.ico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">    
    </head>
    <body>
        <header class="header">
            <div class="container-header">
                <a class="header-logo" href="https://senlainc.com/" target="_blank"><img src="/images/content/logo.svg" alt="Логотип компании Senla"></a>
                <div class="custom-input">
                    <input type="search" placeholder="Search task for to do" class="custom-input-search">
                    <span class="custom-input-icon"></span>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="background-image"></div>
            <section class="tabs">
                <ul class="tabs-list">
                    <li class="tabs-item">
                        <a href="#" class="tabs-link tabs-link__active" data-id="all">All</a>
                    </li>
                    <li class="tabs-item">
                        <a href="#" class="tabs-link" data-id="active">Active</a>
                    </li>
                    <li class="tabs-item">
                        <a href="#" class="tabs-link" data-id="done">Done</a>
                    </li>
                </ul>
            </section>
            <section class="new-task">
                <label for="task-text" class="new-task-text">New task</label>
                <textarea class="new-task-textarea" id="task-text" maxlength="250"></textarea>
                <button class="new-task-button">ADD</button>
            </section>
            <section class="tasks">
                <ul class="tasks-list">
                    <!-- <li class="tasks-item" tabindex="0">
                        <span class="tasks-item-text important-task">Попить чайку</span>
                        <button class="tasks-item-button button-important">MARK IMPORTANT</button>
                        <button class="tasks-item-button button-delete">
                            <svg  class="icon icon-delete" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.9844 3.98438V6H5.01562V3.98438H8.48438L9.51562 3H14.4844L15.5156 3.98438H18.9844ZM6 18.9844V6.98438H18V18.9844C18 19.5156 17.7969 19.9844 17.3906 20.3906C16.9844 20.7969 16.5156 21 15.9844 21H8.01562C7.48438 21 7.01562 20.7969 6.60938 20.3906C6.20312 19.9844 6 19.5156 6 18.9844Z" fill="#666666"/>
                            </svg>
                        </button>
                    </li> -->
                </ul>
            </section>
        </main>
        <script src="https://cdn.polyfill.io/v1/polyfill.js?Element.prototype.closest"></script>
    </body>
</html>
